html {
    align-content: center;
    text-align: center;
    font-family: 'Sintony', sans-serif;
}

footer {
    background-color: #eeeeee
}

h1, h2, h3, h4, h5, h6 {
    color: #222222
}

p {
    font-size: 100%;
}